<robot name="car" xmlns:xacro="http://www.ros.org/wiki/xacro">
  
  <xacro:property name="pi" value="3.1415926535897931" />
  <xacro:property name="base_width" value="0.4" />
  <xacro:property name="base_length" value="1.36" />
  <xacro:property name="base_height" value="0.6" />

  <xacro:property name="wheel_radius" value="0.20" />
  <xacro:property name="wheel_length" value="0.2" />

  <material name="CarMaterial">
    <color rgba="0.8 0.2 0.1 1.0"/>
  </material>
  
  <material name="white">
    <color rgba="1.0 1.0 1.0 1.0"/>
  </material>

  <link name="odom"/>

  <gazebo reference="chassis">
    <material>CarMaterial</material>
  </gazebo>
  
  <xacro:macro name="cylinder_inertial" params="radius height mass">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="${mass}"/>
      <inertia ixx="${0.5 * mass * radius * radius}"
               ixy="0" ixz="0"
               iyy="${0.0833333 * mass * (3 * radius * radius + height * height)}"
               iyz="0"
               izz="${0.0833333 * mass * (3 * radius * radius + height * height)}"/>
    </inertial>
  </xacro:macro>
  
  <xacro:macro name="null_inertial">
    <inertial>
      <mass value="0.001"/>
      <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
    </inertial>
  </xacro:macro>

  <link name="base_link">
    <visual>
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
      <material name="white"/>
    </visual>
  </link>

  <joint name="base_link_to_chassis" type="fixed">
    <origin xyz="0.476 0 0.3" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="chassis"/>
  </joint>

  <joint name="odom_to_base_link" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="odom"/>
    <child link="base_link"/>
  </joint>

  <link name="chassis">
    <collision>
      <origin xyz="0 0 0.27" rpy="0 0 0"/>
      <geometry>
        <box size="1.56 0.4 0.4"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://ackermann_vehicle_description/meshes/car.dae"/>
      </geometry>
    </visual>

    <xacro:null_inertial/>
  </link>

  <xacro:macro name="steering_knuckle" params="suffix sidefr sidelr">
    <xacro:if value="${sidefr == 1}">
      <joint name="${suffix}_steering_knuckle_joint" type="revolute">
        <origin xyz="${0.476 * sidefr} ${0.2 * sidelr} -0.3" rpy="0 0 ${pi/2}"/>
        <parent link="chassis"/>
        <child link="${suffix}_steering_knuckle_link"/>
        <axis xyz="0 0 1" />
        <limit lower="-0.5" upper="0.5" effort="1.25" velocity="2.0" />
      </joint>
    </xacro:if>
    <xacro:unless value="${sidefr == 1}">
      <joint name="${suffix}_steering_knuckle_joint" type="fixed">
        <origin xyz="${0.476 * sidefr} ${0.2 * sidelr} -0.3" rpy="0 0 ${pi/2}"/>
        <parent link="chassis"/>
        <child link="${suffix}_steering_knuckle_link"/>
      </joint>
    </xacro:unless>
    <link name="${suffix}_steering_knuckle_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <sphere radius="0.02" />
        </geometry>
        <material name="white"/>
      </visual>
      <xacro:null_inertial/>
    </link>
  </xacro:macro>

  <xacro:steering_knuckle suffix="front_left" sidefr="1" sidelr="1" />
  <xacro:steering_knuckle suffix="front_right" sidefr="1" sidelr="-1" />
  <xacro:steering_knuckle suffix="rear_left" sidefr="-1" sidelr="1" />
  <xacro:steering_knuckle suffix="rear_right" sidefr="-1" sidelr="-1" />

  <xacro:macro name="wheel" params="suffix sidefr sidelr">
    <joint name="${suffix}_axel_joint" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <parent link="${suffix}_steering_knuckle_link"/>
      <child link="${suffix}_wheel_axel"/>
    </joint>
    <link name="${suffix}_wheel_axel">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <sphere radius="0.02" />
        </geometry>
        <material name="white"/>
      </visual>
      <xacro:null_inertial/>
    </link>
    <joint name="${suffix}_wheel_joint" type="continuous">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <parent link="${suffix}_wheel_axel"/>
      <child link="${suffix}_wheel_link"/>
      <axis xyz="1 0 0" />
      <limit effort="100000.0" velocity="255.0" />
    </joint>
    <link name="${suffix}_wheel_link">
      <collision>
        <origin xyz="0 0 0" rpy="0 ${pi/2} 0"/>
        <geometry>
          <cylinder radius="${wheel_radius}" length="${wheel_length}"/>
        </geometry>
      </collision>
      <visual>
        <origin xyz="0 0 0" rpy="0 ${pi/2} 0"/>
        <geometry>
          <mesh filename="package://ackermann_vehicle_description/meshes/wheel.dae"/>
        </geometry>
      </visual>
      <xacro:cylinder_inertial radius="${wheel_radius}" height="${wheel_length}" mass="2.0"/>
    </link>
  </xacro:macro>

  <xacro:wheel suffix="front_left" sidefr="1" sidelr="1" />
  <xacro:wheel suffix="front_right" sidefr="1" sidelr="-1" />
  <xacro:wheel suffix="rear_left" sidefr="-1" sidelr="1" />
  <xacro:wheel suffix="rear_right" sidefr="-1" sidelr="-1" />

  <joint name="hokuyo_joint" type="fixed">
    <origin xyz="0.574 0 0.72" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="hokuyo"/>
  </joint>

  <link name="hokuyo">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.1 0.1"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://ackermann_vehicle_description/meshes/hokuyo.dae"/>
      </geometry>
    </visual>

    <inertial>
      <mass value="1e-5" />
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
    </inertial>
  </link>
</robot>